
/*.dat
script.js
srcJs/animation.js
srcJs/consts.js
srcJs/events.js
srcJs/general.js
srcJs/info.js
srcJs/main.js
srcJs/mapHandler.js
srcJs/objects.js
src/text.ts
script.ts
dev/
font.dae
Cinema.json
models/template.json
untitled.json
cinema-video.json
*.zip
