{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": false,
            "dynamicImport": false,
            "privateMethod": false,
            "functionBind": false,
            "exportDefaultFrom": false,
            "exportNamespaceFrom": false,
            "decorators": false,
            "decoratorsBeforeExport": false
        },
        "transform": {
            "legacyDecorator": false,
            "decoratorMetadata": false
        },
        "target": "esnext",
        "loose": true,
        "externalHelpers": false,
        "keepClassNames": true
    },
    "module": {
        "type": "es6",
        "strict": false,
        "strictMode": false,
        "lazy": true,
        "noInterop": true
    },
    "minify": false,
    "isModule": false,
    "env": {
        "mode": "entry",
        "shippedProposals": false
    }
}